@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap' );
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    max-width: 1400px;
    background-color: #000;
    margin: 0 auto;
}

/* HEADER */

header {
    
    background-color: #000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

header h1{
    color: #221246;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 30.10rem 0 0;
}

header span{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

header .navegacao-primaria{
    display: flex;
    gap: 10px;
    align-items: center;
}

header .navegacao-primaria li a {
    padding: 10px;
    color: #fff;
    font-size: 1.6rem;
    position: relative;
    
}

header .navegacao-primaria li a::after{

    content: " ";
    width: 0%;
    height: 1px;
    background-color: #3f1e86;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

header .navegacao-primaria li a:hover::after{
    width: 100%;
}



/* DOWNLOAD / CV / SESSAO */

.section-div{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
}

.section-div div {
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap: 30px;
}

.section-div div h2{
    font-family: 'Poppins';
    font-weight: 600;
    color: #f7f7f7;
}

.section-div div p {
    font-family: 'Poppins';
    font-weight: 200;
    color: #f7f7f7;
}

.section-div div a {
    justify-self: start;
    color: #fff;
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid white;
}

.section-div img {
    max-width: 100%;
}

.section-div div a:hover{
    background-color: #221246;
    transform: translateY(-7px);
}

.section-div div a:active{
    transform: translateY(-1px);
}

/* Seção PRINCIPAL SOBRE MIM*/

main{
    background-color: #111;
    color: white;
}

main .sobre {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.sobre_titulo{
    margin: 30px 0px;
    grid-column: 1/-1;
    text-align: center;
    color: white;
}

.sobre_titulo h1{
    font-size: 2.5rem;
    color: #371e77;
    margin-bottom: 15px;
    font-family: 'Berkshire Swash', cursive ;
}

.sobre_titulo p {
    color: #707070;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
}

.sobre_titulo div {
    display: flex;
    gap: 10px;
    justify-content: center;
}


.sobre_titulo span{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #371e77;
}

.sobre img{
    animation: ladoSecao .5s ease-in-out forwards;
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius: 4px;
    filter: blur(0);
}

.sobre img:hover{
    transition: .5s ease-in;
    filter: blur(1px);
}


.sobre_conteudo{
    animation: sobeSecao .5s ease-in-out forwards;
    grid-column: 2/-1;
    display: grid;
    color: #707070;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto h1{
    font-size: 2.3rem;
    color: white;
    grid-column: 1/-1;
}

.sobre_texto h1::after{
    background-color: #371e77;
    height: 6px;
    width: 60px;
    margin: 20px 0;
    content: '';
    display: block;
    border-radius: 5px;
}


.sobre_texto p{
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
}

.sobre_info{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}

.sobre_info i {
    color: #371e77;
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}

.sobre_info p {
    font-size: .9rem;
}

@keyframes sobeSecao {
    from{
        transition: .5s;
        transform: translate3d(60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes ladoSecao {
    from{
        transition: .5s;
        transform: translate3d(-60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}


/* FOOTER */

.contato{
    background-color: #000;
    margin-top: 60px;

}

.direitos ul{
    padding-top: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.direitos li a{
    padding: 20px;
    color: white;
}

.direitos h3{
    padding: 40px;
    color: #371e77;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9em;
    font-family: 'Roboto';
}

.direitos img{
    transition: all 0.5s;
    animation: subir 1s ease-in-out 0.5 forwards;
    height: 45px;
    border-radius: 40px;
    cursor: pointer;
}

.direitos img:hover{
    transform: scale(1.5);
}

@keyframes subir{
    from{
        height: 0;
        bottom: 0;
    }
    to{
        height: 90px;
    }
}

/* RESPONSIVO */

@media(max-width: 992px){
   
    .section-div img{
        display: none;
    }
   
    .section-div{
        background-image: url(../imagem/webpc.webp);
        background-repeat: no-repeat;
        background-size: cover;

    }

    header .navegacao-primaria{
        display: none;
    }

    header i {
        color: #f7f7f7;
        font-size: 3rem;
        position: absolute;
        left: 30px;
        
    }

    .sobre img {
        grid-column: 1/-1;
        justify-self: center;
    }

    .sobre_conteudo{
        grid-column: 1/-1;
    }
}